<div class="card">
   <h5 class="card-title text-center">{{'title.legend' | trans }}&nbsp;<span data-remaining-days-target="year"></span></h5>
   <div class="card-body">
      <div>
         {% if stats is defined %}
            {% for stat in stats %}
               <p>
                  <span id="colorSquare{{loop.index}}" class="color-square col-2 text-center" style="background-color: {{stat.color}};">
                     &nbsp;
                     {% if stat.count matches '/^\\d+$/' %}
                        {{ stat.count }}
                     {% else %}
                        {{ stat.count | number_format(2, ',', '') }}
                     {% endif %}                  
                     &nbsp;
                  </span>&nbsp;<span>{{stat.description | trans}}</span>
               </p>
            {% endfor %}
         {% endif %}
      </div>
   </div>
</div>

