<div class="card">
   <h5 class="card-title text-center">{{'title.legend' | trans }}&nbsp;<span data-remaining-days-target="year"></span></h5>
   <div class="card-body">
      <div>
         {% if stats is defined and stats != null %}
            {% for stat in stats %}
               <p>
                  <span id="colorSquare{{loop.index}}" class="color-square col-2 text-center" style="background-color: {{stat.color}};">
                     &nbsp;{{ stat.count }}
                  </span>
                  <span>
                     &nbsp;{{stat.description | trans}}
                  </span>
               </p>
            {% endfor %}
         {% else %}
            <div class="alert alert-warning">{{ 'message.noStatsAvailable' | trans }}</div>
         {% endif %}
      </div>
   </div>
</div>

