<div class="card col-4 p-1">
	<h5 class="card-title text-center">{{'title.remaining_days' | trans }}&nbsp;<span data-remaining-days-target="year"></span></h5>
	<div class="card-body">
		<div>
			<div>
				{{'label.vacationDays' | trans }}<span data-remaining-days-target="vacationDays"></span>&nbsp;{{'label.days' | trans }}
			</div>
			<div>
				{{'label.particularBusinessLeave' | trans }}<span
					data-remaining-days-target="particularBusinessLeave"></span>&nbsp;{{'label.days' | trans }}
			</div>
			<div id="overtimeDaysSummaryRow">
				{{'label.overtimeDays' | trans }}<span data-remaining-days-target="overtimeDays"></span>&nbsp;{{'label.days' | trans }}
			</div>
			<div id="antiquityDaysRow">
				{{'label.antiquityDays' | trans }}:&nbsp;<span data-remaining-days-target="antiquityDays"></span>&nbsp;{{'label.days' | trans }}
			</div>
		</div>
	</div>
</div>