<div class="card">
	<h5 class="card-title text-center">
		{{'title.remaining_days' | trans }}&nbsp;<span data-remaining-days-target="year">{{ year }}</span>
	</h5>
	<div class="card-body">
		{% if vacationDays is defined and vacationDays != null and 
			particularBusinessLeave is defined and particularBusinessLeave != null and
			antiquityDays is defined and antiquityDays != null and
			additionalVacationDays is defined and additionalVacationDays != null
		%}
			<div>
				<div>
					{{'label.vacationDays' | trans }}<span>{{ vacationDays }}</span>
				</div>
				<div>
					{{'label.particularBusinessLeave' | trans }}<span>{{ particularBusinessLeave }}</span>
				</div>
				<div id="overtimeDaysSummaryRow">
					{{'label.overtimeDays' | trans }}<span>{{ overtimeDays }}</span>
				</div>
				<div id="antiquityDaysRow">
					{{'label.antiquityDays' | trans }}:&nbsp;<span>{{ antiquityDays }}</span>
				</div>
				<div id="additionalVacationDaysRow">
					{{'label.additionalVacationDays' | trans }}:&nbsp;<span>{{ additionalVacationDays }}</span>
				</div>
				{% if isUnionDelegate and unionHoursPerMonth is defined and unionHoursPerMonth != null %}
					<div id="unionHoursPerMonthRow">
						{{'label.unionHoursPerMonth' | trans }}:&nbsp;<span>{{ unionHoursPerMonth }}</span>
					</div>
				{% endif %}
			</div>
		{% else %}
			<div class="alert alert-warning">{{'message.workcalendarNotFound' | trans({'year' : year}) }}</div>
		{% endif %}
	</div>
</div>

