<div class="card col-4 p-1">
	<h5 class="card-title text-center">{{'title.summary' | trans }}&nbsp;<span data-summary-target="year"></span>
	</h5>
	<div class="card-body">
		<div>
			<div>
				{{'label.vacationDays' | trans }}<span data-summary-target="vacationDays"></span>&nbsp;{{'label.days' | trans }}
			</div>
			<div>
				{{'label.particularBusinessLeave' | trans }}<span
					data-summary-target="particularBusinessLeave"></span>&nbsp;{{'label.days' | trans }}
			</div>
			<div id="overtimeDaysSummaryRow">
				{{'label.overtimeDays' | trans }}<span data-summary-target="overtimeDays"></span>&nbsp;{{'label.days' | trans }}
			</div>
         <h6 class="mt-1">{{'label.antiquityDays'|trans}}:</h6>   
         {% for antiquity in antiquityDays %}
			<div>
				<span>{{ antiquity.yearsWorked }}&nbsp;{{'label.years' | trans }}&nbsp;{{ antiquity.vacationDays }}</span>
			</div>
         {% endfor %}
		</div>
	</div>
</div>