<div class="card">
	<h5 class="card-title text-center">{{'title.summary' | trans }}&nbsp;<span>{{ year | default('message.notDefined' | trans) }}</span>
	</h5>
	<div class="card-body">
		<div>
			<div>
				{{'label.vacationDays' | trans }}<span>{{ workCalendar.vacationDays is defined ? workCalendar.vacationDays ~ ' ' ~ 'label.days' | trans : 'message.notDefined' | trans }}</span>
			</div>
			<div>
				{{'label.particularBusinessLeave' | trans }}<span>{{ workCalendar.particularBusinessLeave is defined ? workCalendar.particularBusinessLeave ~ ' ' ~ 'label.days' | trans : 'message.notDefined' | trans }}</span>
			</div>
			<div id="overtimeDaysSummaryRow">
				{{'label.overtimeDays' | trans }}<span>{{ workCalendar.overtimeDays is defined ? workCalendar.overtimeDays ~ ' ' ~ 'label.days' | trans : 'message.notDefined' | trans }}</span>
			</div>
			<div class="d-flex justify-content-start">
				<div class="col-lg-6">
         		<h6 class="mt-1">{{'label.antiquityDays'|trans}}:</h6>
					{% if antiquityDays is defined %}
						{% for antiquity in antiquityDays %}
							<div class="col-lg-auto">{{ antiquity.yearsWorked }}&nbsp;{{'label.years' | trans }}&nbsp;{{ antiquity.vacationDays }}</div>
						{% endfor %}
					{% endif %}
				</div>
				<div class="col-lg-6">
					<h6 class="mt-1">{{'label.additionalVacationDays'|trans}}:</h6>
					{% if antiquityDays is defined %}
						{% for additionalVacationDay in additionalVacationDays %}
							<div class="col-lg-auto">{{ additionalVacationDay.yearsWorked }}&nbsp;{{'label.years' | trans }}&nbsp;{{ additionalVacationDay.vacationDays }}</div>
						{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>