<div class="card col-3 p-1">
	<h5 class="card-title text-center">{{'title.summary' | trans }}&nbsp;<span data-summary-target="year"></span>
	</h5>
	<div class="card-body">
		<div>
			{# <div>
				{{'label.annualMaximumWorkingHours' | trans }}<span
					data-summary-target="annualMaximumWorkingHours"></span>&nbsp;{{'label.hours' | trans }}
			</div>
			<div>
				{{'label.annualMaximumWorkingDays' | trans }}<span
					data-summary-target="annualMaximumWorkingDays"></span>&nbsp;{{'label.days' | trans }}
			</div>
			<div>
				{{'label.dailyWorkingHours' | trans }}<span data-summary-target="dailyWorkingHours"></span>:<span
					data-summary-target="dailyWorkingMinutes"></span>&nbsp;{{'label.hours' | trans }}
			</div>
			<div>
				{{'label.break' | trans }}<span data-summary-target="break"></span>&nbsp;{{'label.minutes' | trans }}
			</div>
			<div>
				{{'label.annualTotalWorkHours' | trans }}<span
					data-summary-target="annualTotalWorkHours"></span>&nbsp;{{'label.hours' | trans }}
			</div>
			<div>
				{{'label.overtimeHours' | trans }}<span data-summary-target="overtimeHours"></span>&nbsp;{{'label.hours' | trans
				}}
			</div> #}
			<div>
				{{'label.vacationDays' | trans }}<span data-summary-target="vacationDays"></span>&nbsp;{{'label.days' | trans }}
			</div>
			<div>
				{{'label.particularBusinessLeave' | trans }}<span
					data-summary-target="particularBusinessLeave"></span>&nbsp;{{'label.days' | trans }}
			</div>
			<div>
				{{'label.overtimeDays' | trans }}<span data-summary-target="overtimeDays"></span>&nbsp;{{'label.days' | trans }}
			</div>
         <h6 class="mt-1">{{'label.antiquityDays'|trans}}:</h6>   
         {% for antiquity in antiquityDays %}
			<div>
				<span>{{ antiquity.yearsWorking }}&nbsp;{{'label.years' | trans }}&nbsp;{{ antiquity.vacationDays }}</span>
			</div>
         {% endfor %}
		</div>
	</div>
</div>