<div class="col-3 p-0 mr-1">
	<table class="table table-sm table-bordered">
	<thead>
		<tr>
			<th>{{'title.user.legend' | trans }}</h>
			<th title="{{'Approved' | trans }}">{{'label.approved' | trans }}</th>
			<th title="{{'Reserved' | trans }}">{{'label.reserved' | trans }}</th>
			<th title="{{'Remaining' | trans }}">{{'label.remaining' | trans }}</th>
		</tr>
	</thead>
	<tbody data-user-legend-target="headerRow">

	</tbody>
	</table>
</div>