{% extends 'base.html.twig' %}

{% block title %}
	{{'title.departmentCalendar' | trans }}
{% endblock %}

{% block body %}
	<div {{ stimulus_controller({'summary': {
            'summary-url': path('api_getWorkCalendar') }, 
            'day-details': {
               'roles': roles,
               'user': app.user.username,
               'boss': app.user.boss.username,
               'previousYearDaysColor': previousYearDaysColor,
            }
         }) }} 
         data-action="department-calendar:yearChanged->summary#refreshSummary department-calendar:clickDay->day-details#showDetails department-calendar:loaded->day-details#hideDetails">
		<div class="container-fluid" {{ stimulus_controller('department-calendar', {
          'locale': app.request.locale|split('_')[0], 
          'holidays-url': path('api_getHolidays'), 
          'holidays-color': holidaysColor, 
          'department-dates-url': path('api_get_dates'),
          'formUrl' : path('event_save'), 
          'year' : year,
          'department' : null, 
          'status': constant('App\\Entity\\Status::APPROVED'),
          'type': 'city-hall',
          'enableRangeSelection': false,
           } ) }}
      >
         {% if is_granted("ROLE_HHRR") %}
            <div><button class="btn btn-primary rounded-circle fixed-bottom-right" data-action="click->department-calendar#addEvent"><i class="fa fa-plus" title='{{ "btn.new" | trans | capitalize }}'></i></button></div>
         {% endif %}
         {{ include('calendar/_userFilterForm.html.twig', { 'showDeparment' : true }) }}
			<div id="calendar"></div>
			<div class="row d-flex justify-content-around">
            <div class="col-lg-4">
				   {{ include('calendar/_summary.html.twig') }}
            </div>
            <div class="col-lg">
   				{{ include('calendar/_day-details.html.twig') }}
            </div>
			</div>
			<div id="context-menu"></div>
  			{{ include('event/_modal.html.twig', {
            modalTitle: 'modal.title.event' | trans,
            form: form
         }) }}
		</div>
	</div>
   {{ include('common/_alert.html.twig') }}
{% endblock %}
