{% extends 'base.html.twig' %}

{% block title %}{{'title.departmentCalendar' | trans }}{% endblock %}

{% block body %}
	<div {{ stimulus_controller('summary', {'summary-url': path('api_getSummary') }) | 
           stimulus_controller('day-details', {
            'roles': roles,
            'user': app.user.username,
            'boss': app.user.boss != null ? app.user.boss.username: null,
            'previousYearDaysColor': previousYearDaysColor,
            'type': 'department',
         }) |
         stimulus_controller('user-legend', { statsUrl: path('api_get_user_stats') }) |
         stimulus_controller('overlaps', { serviceUrl: path('api_department_overlaps', {'department': app.user.department.id})}) 
      }} 
         data-action="department-calendar:yearChanged->summary#refresh department-calendar:loaded->day-details#hideDetails department-calendar:clickDay->day-details#showDetails department-calendar:loaded->user-legend#load department-calendar:loaded->overlaps#load" 
   >
		<div class="container-fluid"
         {{ stimulus_controller('department-calendar', { 
               'locale': app.request.locale|split('_')[0], 
               'holidays-url': path('api_getHolidays'), 
               'holidays-color': holidaysColor, 
               'department-dates-url': path('api_get_dates') , 
               'year' : year,
               'department' : app.user.department.id,
               'colorPalette': colorPalette,
               'type': 'department',
               'worksOnWeekends': true,
         } ) }}>
            {{ include('calendar/_userFilterForm.html.twig', { 'showDeparment' : false }) }}
			<div id="calendar"></div>
			<div class="row d-flex justify-content-around">
            <div class="col-lg-auto" data-user-legend-target="card"></div>
            <div class="col-lg-auto" data-overlaps-target="card"></div>
            <div class="col-lg">
               {{ include('calendar/_day-details.html.twig') }}
            </div>
			</div>
			<div id="context-menu"></div>
		</div>
	</div>
   {{ include('common/_alert.html.twig') }}
{% endblock %}
