{% extends 'base.html.twig' %}

{% block title %}
	{{'title.departmentCalendar' | trans }}
{% endblock %}

{% block body %}
	<div {{ stimulus_controller({
         'summary': {
            'summary-url': path('api_getWorkCalendar') 
         }, 
         'day-details': {
            'roles': roles,
            'user': app.user.username,
            'boss': app.user.boss.username,
            'previousYearDaysColor': previousYearDaysColor,
         },
         'user-legend': {},
         }) }} 
         data-action="department-calendar:yearChanged->summary#refreshSummary department-calendar:clickDay->day-details#showDetails department-calendar:loaded->user-legend#load" 
   >
		<div class="container-fluid"
         {{ stimulus_controller('department-calendar', { 
               'locale': app.request.locale|split('_')[0], 
               'holidays-url': path('api_getHolidays'), 
               'holidays-color': holidaysColor, 
               'department-dates-url': path('api_get_dates') , 
               'year' : year,
               'department' : app.user.department.id,
               'colorPalette': colorPalette,
               'type': 'department'
         } ) }}>
            {{ include('calendar/_userFilterForm.html.twig', { 'showDeparment' : false }) }}
			<div id="calendar"></div>
			<div class="row d-flex justify-content-around">
				{{ include('calendar/_userLegend.html.twig') }}
            {{ include('calendar/_reservedEvents.html.twig', { 
               'reservedEvents': reservedEvents,
               'overlaps': overlaps,
            }) }}
            {# {{ include('calendar/_summary.html.twig') }} #}
				
            {{ include('calendar/_day-details.html.twig') }}
			</div>
			<div id="context-menu"></div>
		</div>
	</div>
   {{ include('common/_alert.html.twig') }}
{% endblock %}