{% extends 'base.html.twig' %}

{% block title %}
	{{'Events Calendar' | trans }}
{% endblock %}

{% block body %}
	<div {{ stimulus_controller('summary',{'summary-url': path('api_getWorkCalendar')} ) }} data-action="calendar:yearChanged->summary#refreshSummary">
		<div class="container-fluid" {{ stimulus_controller('calendar', { 'locale': app.request.locale|split('_')[0], 'holidays-url': path('api_getHolidays'), 'holidays-color': holidaysColor, 'my-dates-url': path('api_get_my_dates'), 'formUrl' : path('event_save') , 'year' : year } ) }} data-action="modal-form:success->calendar#refreshCalendar">

			<div id="calendar" data-calendar-target="content"></div>
			<div class="row d-flex justify-content-around">
				{{ include('calendar/_summary.html.twig') }}

				<div class="card col-4 p-1">
					<h5 class="card-title text-center">{{'title.status' | trans }}</h5>
					<div class="card-body">
						<div>{{ 'label.workdaysThisYear' | trans }}
							<span data-calendar-target="workdays"></span>
						</div>
						<div>{{ 'label.approvedThisYear' | trans }}
							<span data-calendar-target="approved"></span>
						</div>
					</div>
				</div>
				<div class="card col-2 p-1">
					<h5 class="card-title text-center">{{'title.legend' | trans }}</h5>
					<div class="card-body">
						<div class="line-spain">
							{% for status in statuses %}
								<p>
									<span id="colorSquare{{status.id}}" class="color-square col-1" style="background-color: {{status.color}}"></span>&nbsp;{{status.description | trans}}</p>
							{% endfor %}
							<p>
								<span class="color-square col-1" style="background-color: {{holidaysColor}}; color: white" data-calendar-target="holidaysLegend"></span>&nbsp;{{ 'label.holidays' | trans}}</p>
						</div>
					</div>
				</div>
			</div>
			<div id="context-menu"></div>
			{{ include('event/_modal.html.twig', {
                     modalTitle: 'Event details',
                     form: form
         }) }}
		</div>
	</div>
	{{ include('common/_alert.html.twig') }}

{% endblock %}
