{% extends 'base.html.twig' %}

{% block title %}
	{{'title.myCalendar' | trans }}
{% endblock %}

{% block body %}
	<div {{ stimulus_controller({
            'summary': {'summary-url': path('api_getWorkCalendar')}, 
            'legend': {
               'statsUrl': path('api_get_my_stats', {'_locale': app.request.locale|split('_')[0]})
            },
            'remaining-days': {'remainingDaysUrl': path('api_get_my_remaining_days')}, 
         }) }} data-action="personal-calendar:yearChanged->summary#refreshSummary personal-calendar:yearChanged->legend#refreshStats personal-calendar:update->legend#refreshStats personal-calendar:yearChanged->remaining-days#refresh personal-calendar:update->remaining-days#refresh">
		<div class="container-fluid" 
         {{ stimulus_controller({
            'personal-calendar': { 
               'locale': app.request.locale|split('_')[0], 
               'holidays-url': path('api_getHolidays'), 
               'holidays-color': holidaysColor, 
               'my-dates-url': path('api_get_my_dates'), 
               'formUrl' : path('event_save') , 
               'year' : year, 
               'days' : days 
            } }) }}
         {# data-action="modal-form:success->calendar#refreshCalendar" #}>

			<div id="calendar" data-personal-calendar-target="content"></div>
			<div class="row d-flex justify-content-between m-1">
				{{ include('calendar/_summary.html.twig') }}
            {{ include('calendar/_remainingDays.html.twig') }}
				{# {{ include('calendar/_status.html.twig') }} #}
				{{ include('calendar/_legend.html.twig') }}
			</div>
			<div id="context-menu"></div>
			{{ include('event/_modal.html.twig', {
                     modalTitle: 'modal.title.event' | trans,
                     form: form
         }) }}
		</div>
	</div>
	{{ include('common/_alert.html.twig') }}

{% endblock %}
