{% block message %}
	{{ include('common/_messages.html.twig') }}
{% endblock %}

<div {{ stimulus_controller('event-form',{ 'locale': app.request.locale|split('_')[0], } ) }}>
	{{ form_start(form) }}
		{% if is_granted("ROLE_HHRR") and hhrr %}
            <div class="row align-items-center mb-1">
                <div class="col-lg-6 col-md-auto col-sm-auto">
                    {{ form_row(form.user, { 'attr': 
                        { 'class' : 'form-select form-select-md', 'data-event-form-target': 'userInput' }
                    }) }}
                </div>
                <div class="col-lg-6 col-md-auto col-sm-auto">
                    {{ form_row(form.status, { 'attr': 
                        { 'class' : 'form-select form-select-md' }
                    }) }}
                </div>
            </div>
        {% endif %}
        <div class="row align-items-center mb-1">
            <div class="col-lg col-md col-sm">
                {{ form_row(form.type, { 'attr': 
                    { 'class' : 'form-input form-input-md' }
                }) }}
            </div>
		</div>
        <div class="row align-items-center mb-1">
            <div class="col-lg-6 col-md-auto col-sm-auto">
                {{ form_row(form.startDate, { 'attr': 
                    { 'class' : 'form-input form-input-md' }
                }) }}
            </div>
            <div class="col-lg-6 col-md-auto col-sm-auto">
                {{ form_row(form.endDate, { 'attr': 
                    { 'class' : 'form-input form-input-md' }
                }) }}
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg col-md col-sm">
                {{ form_row(form.halfday) }}
            </div>
		</div>
        <div class="row">
            <div class="col-lg-6 col-md col-sm">
                {{ form_row(form.hours) }}
            </div>
            <div class="col-lg-6 col-md col-sm">
                {{ form_row(form.minutes) }}
            </div>
		</div>
        <div class="row align-items-center mb-1">
            <div class="col-lg col-md col-sm">
                {{ form_row(form.usePreviousYearDays) }}
            </div>
		</div>
		<input type="submit" class="btn btn-primary" value="{{ button_label|default('btn.save')|trans }}"/>
        {{ form_widget(form._token) }}
        {{ form_row(form.id) }}
	{{ form_end(form, {'render_rest': false}) }}
</div>
