<div {{ stimulus_controller('event-form',{
   'locale': app.request.locale|split('_')[0],
}) }}
   data-action="submit->event-form#submitForm">
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</div>