      <table id="taula" class="table">
         <thead>
               <tr>
                  <th>Id</th>
                  <th>{{ 'eventType.descriptionEs' | trans }}</th>
                  <th>{{ 'eventType.descriptionEu' | trans }}</th>
                  <th>{{ 'label.options' | trans }}</th>
               </tr>
         </thead>
         <tbody>
         {% for eventType in eventTypes %}
               <tr>
                  <td>{{ eventType.id }}</td>
                  <td>{{ eventType.descriptionEs }}</td>
                  <td>{{ eventType.descriptionEu }}</td>
                  <td>
                     <a href="#" data-action="entity#edit" data-url="{{ path('event_type_show', {'id': eventType.id}) }}" data-allowEdit="false"><i class="fa fa-eye" title='{{ "btn.show" | trans | capitalize }}'></i></a>&nbsp;
                     <a href="#" data-action="entity#edit" data-url="{{ path('event_type_edit', {'id': eventType.id}) }}" data-allowEdit="true"><i class="fa fa-edit" title='{{ "btn.edit" | trans | capitalize }}'></i></a>&nbsp;
                     <a href="#" data-action="entity#delete" data-url="{{ path('event_type_delete', {'id': eventType.id}) }}"><i class="fa fa-trash" title='{{ "btn.delete" | trans | capitalize }}'></i></a>&nbsp;
                  </td>
               </tr>
         {% else %}
               <tr>
                  <td colspan="4">{{'messages.results0' | trans }}</td>
               </tr>
         {% endfor %}
         </tbody>
      </table>
