{% extends 'base.html.twig' %}

{% block title %}{{'title.eventTypeIndex' | trans }}{% endblock %}

{% block body %}
    <h1>{{'title.eventTypeIndex' | trans }}</h1>
      <div {{ stimulus_controller('reload-content', 
               { 'url': path('event_type_index', { 'ajax' : 'true'}),
                  'locale': app.request.locale|split('_')[0] })}} data-action="entity:success->reload-content#refreshContent entity:init->reload-content#refreshContent">

         <div {{ stimulus_controller('entity', 
                  { 'locale': app.request.locale|split('_')[0], 
                  'entitySaveUrl': path('event_type_save'),
                  })}} 
               class="container-fluid"
               data-action="hidden.bs.modal->entity#modalHidden">
               <div data-reload-content-target="content">
                  {{ include('event_type/_list.html.twig', { 'eventTypes': eventTypes }) }}
               </div>
            {{ include('common/_modal.html.twig', {
                  'modalTitle': 'modal.title.eventType' | trans,
                  'formTemplate': 'event_type/_form.html.twig'
               }) 
            }}
            <div><button class="btn btn-primary rounded-circle  fixed-bottom-right" data-action="click->entity#openModal"><i class="fa fa-plus" title='{{ "btn.new" | trans | capitalize }}'></i></button></div>
            {{ include('common/_alert.html.twig') }}
         </div>
   </div>
{% endblock %}