{% extends 'base.html.twig' %}

{% block title %}{{'title.antiquityIndex' | trans }}{% endblock %}

{% block body %}
    <h1>{{'title.antiquityIndex' | trans }}</h1>
      <div {{ stimulus_controller('reload-content', 
               { 'url': path('antiquity_days_index', {'ajax' : 'true'}),
                  'locale': app.request.locale|split('_')[0] })}} data-action="entity:success->reload-content#refreshContent entity:init->reload-content#refreshContent">

         <div {{ stimulus_controller('entity', 
                  { 'locale': app.request.locale|split('_')[0], 
                  'entitySaveUrl': path('antiquity_days_save'),
                  })}} 
               class="container-fluid">
               <div data-reload-content-target="content">
                  {{ include('antiquity_days/_list.html.twig', { 'antiquity_days': antiquity_days }) }}
               </div>
            {{ include('common/_modal.html.twig', {
                  'modalTitle': 'modal.title.antiquityDays' | trans,
                  'formTemplate': 'antiquity_days/_form.html.twig'
               }) 
            }}
            <div class="float-right"><btn class="btn btn-primary rounded-circle" data-action="click->entity#openModal"><i class="fa fa-plus" title='{{ "btn.new" | trans | capitalize }}'></i></btn></div>
            {{ include('common/_alert.html.twig') }}
         </div>
   </div>
{% endblock %}
