{% extends 'base.html.twig' %}

{% block title %}{{'title.antiquityIndex' | trans }}{% endblock %}

{% block body %}
    <h1>{{'title.antiquityIndex' | trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ antiquity_day.id }}</td>
            </tr>
            <tr>
                <th>YearsWorked</th>
                <td>{{ antiquity_day.yearsWorked }}</td>
            </tr>
            <tr>
                <th>VacationDays</th>
                <td>{{ antiquity_day.vacationDays }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('antiquity_days_index') }}">back to list</a>

    <a href="{{ path('antiquity_days_edit', {'id': antiquity_day.id}) }}">edit</a>

    {{ include('antiquity_days/_delete_form.html.twig') }}
{% endblock %}
