{% if counters is defined %}
<table id="taula" class="table bootstrap-table mt-3" data-reports-list-target="list">
   <thead>
      <tr>
         <th data-sortable="true">{{"user.username" | trans | capitalize}}</th>
         <th data-sortable="true">{{"Vacaciones/Oporrak" | trans | capitalize}}</th>
         <th data-sortable="true">{{"Asuntos particulares/Norbere kontuetarako baimena" | trans | capitalize}}</th>
         <th data-sortable="true">{{"Exceso jornada/Gehiegizko lanaldia" | trans | capitalize}}</th>
         <th data-sortable="true">{{"Días antigüedad/Antzinatasun egunak" | trans | capitalize}}</th>
         <th data-sortable="true">{{"Vacaciones Adicionales/Opor egun gehigarriak" | trans | capitalize}}</th>
         <th data-sortable="true">{{"Otros/Besteren bat" | trans | capitalize}}</th>
         <th data-sortable="true" class="table-total" >{{"label.total" | trans | capitalize}}</th>
      </tr>
   </thead>
   <tbody>
      {% for key in counters|keys %}
         <tr>
            <td>{{key}}</td>
            {% for i in 1..6 %}
               {% if counters[key][i] is defined %}
                  <td>{{ counters[key][i] }}</td>
               {% else %}
                  <td>0 {{ 'label.days' | trans }} </td>
               {% endif %}
            {% endfor %}
            <td><b>{{ counters[key]['total'] }}</b></td>
        </tr>
      {% endfor %}
   </tbody>
</table>
{% endif %}