<div {{ stimulus_controller('reports-filter',{ 'locale': app.request.locale|split('_')[0], } ) }}>
   <div {{ stimulus_controller('user-filter',{ 'locale': app.request.locale|split('_')[0], } ) }}>
      {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
         <div class="row">
            {# <div class="col">
               {{ form_label(form.startDate) }}
               {{ form_widget(form.startDate, { 'attr' : { 'class' : 'js-datepicker' } } ) }}
            </div>
            <div class="col">
               {{ form_label(form.endDate) }}
               {{ form_widget(form.endDate, { 'attr' : { 'class' : 'js-datepicker' } } ) }}
            </div> #}
            <div class="col">
               {{ form_label(form.year) }}
               {{ form_widget(form.year) }}
            </div>
            <div class="col">
               {{ form_label(form.user) }}
               {{ form_widget(form.user, {
                  'attr': { 'data-user-filter-target' : 'userSelect' }
               }) }}
            </div>
            <div class="col-2">
               {{ form_label(form.department) }}
               {{ form_widget(form.department, {
                  'attr': { 'data-user-filter-target' : 'departmentSelect', 'data-action': "change->user-filter#refreshUsers" }
               }) }}
            </div>
            <div class="col p-2">
               <button class="btn btn-primary">{{ 'btn.search' | trans | capitalize }}</button>
               <button class="btn btn-primary" data-action="reports-filter#clean user-filter#clean" >{{ 'btn.clean' | trans | capitalize }}</button>
            </div>
         </div>
      {{ form_end(form) }}
   </div>
</div>