{% if app.user %}

	<nav class="navbar navbar-expand navbar-dark bg-dark mb-1">
		<a class="navbar-brand" href="#">&nbsp;</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class='nav-item'>
					<a class="nav-link" href="{{ path ('myCalendar', { year: 'now' | date('Y') })}}">{{"navitem.myCalendar" | trans | capitalize}}</a>
				</li>

				<li class='nav-item'>
					<a class="nav-link" href="{{ path ('departmentCalendar', { year: 'now' | date('Y') })}}">{{"navitem.myDepartment" | trans | capitalize}}</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarAdministration" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{{ 'navitem.administration' | trans | capitalize }}
					</a>
					<div id="js-menu-administration" class="dropdown-menu" aria-labelledby="navbarAdministration">
						<a class="dropdown-item" href="{{path('admin_user_list')}}">{{"navitem.users" | trans | capitalize}}</a>
						<a class="dropdown-item" href="{{path('department_index')}}">{{"navitem.department" | trans | capitalize}}</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>

{% endif %}
