{% trans_default_domain 'user_bundle' %}

{{ form_start(form) }}

<div class="container-fluid m-0" {{ stimulus_controller('user-form', { unionHoursPerMonth: unionHoursPerMonth}) }}>
	<div class="row m-1">
		<div class="col">
			<div class="row mt-1">
				<div class="col-lg-2">
					{{ form_label(form.username) }}
					<span class="text-danger">{{ form_errors(form.username) }}</span>
					{{ form_widget(form.username, {'attr': {'class': 'form-control form-control-sm'}}) }}
				</div>
				<div class="col-lg-2">
					{{ form_label(form.idNumber) }}
					<span class="text-danger">{{ form_errors(form.idNumber) }}</span>
					{{ form_widget(form.idNumber, {'attr': {'class': 'form-control form-control-sm'}}) }}
				</div>
				<div class="col-lg-3">
					{{ form_label(form.firstName) }}
					<span class="text-danger">{{ form_errors(form.firstName) }}</span>
					{{ form_widget(form.firstName, {'attr': {'class': 'form-control form-control-sm'}}) }}
				</div>
				<div class="col-lg-3">
					{{ form_label(form.email) }}
					<span class="text-danger">{{ form_errors(form.email) }}</span>
					{{ form_widget(form.email, {'attr': {'class': 'form-control form-control-sm'}}) }}
				</div>
				<div class="col-lg-2 d-flex align-items-end justify-content-center">
					{{ form_row(form.activated) }}
					<span class="text-danger">{{ form_errors(form.activated) }}</span>
				</div>                
			</div>
			<div class="row mt-1">
				{% if not readonly and password_change %}
					<div class="col-lg-2">
						{{ form_label(form.password.first) }}
						<span class="text-danger">{{ form_errors(form.password.first) }}</span>
						{{ form_widget(form.password.first, {'attr': {'class': 'form-control form-control-sm', 'data-controller' : 'readonly-remove', 'readonly': "readonly"}}) }}
						{{ form_label(form.password.second) }}
						{{ form_widget(form.password.second, {'attr': {'class': 'form-control form-control-sm mt-1', 'data-controller' : 'readonly-remove', 'readonly': "readonly"}}) }}
					</div>
				{% endif %}
				<div class="col-lg-2">
					{{ form_row(form.department, {'attr': {'class': 'form-select form-select-sm', 'data-controller' : 'select2'}}) }}
				</div>
				<div class="col-lg-2">
					{{ form_row(form.boss, {'attr': {'class': 'form-select form-select-sm', 'data-controller' : 'select2'}}) }}
				</div>
			</div>
			<div class="row">
				<div class="col-lg-auto">
					{{ form_label(form.startDate) }}
					<span class="text-danger">{{ form_errors(form.startDate) }}</span>
					{{ form_widget(form.startDate, {'attr': {'class': 'form-control form-control-sm'}}) }}
				</div>
				<div class="col-lg-auto">
					{{ form_label(form.endDate) }}
					<span class="text-danger">{{ form_errors(form.endDate) }}</span>
					{{ form_widget(form.endDate, {'attr': {'class': 'form-control form-control-sm'}}) }}
				</div>
				<div class="col-lg-1">
					{{ form_label(form.yearsWorked) }}
					<span class="text-danger">{{ form_errors(form.yearsWorked) }}</span>
					{{ form_widget(form.yearsWorked, {'attr': {'class': 'ml-1 form-control form-control-sm'}} ) }}
				</div>
				<div class="col-lg-1">
					{{ form_label(form.extraDays) }}
					<span class="text-danger">{{ form_errors(form.extraDays) }}</span>
					{{ form_widget(form.extraDays, {'attr': {'class': 'ml-1 form-control form-control-sm'}} ) }}
				</div>
				<div class="col-lg-1 d-flex align-items-end justify-content-center">
					{{ form_row(form.unionDelegate, {'attr': {'data-action': 'change->user-form#onUnionDelegateChange', 'data-user-form-target': 'unionDelegate'}}) }}
					<span class="text-danger">{{ form_errors(form.unionDelegate) }}</span>
				</div>
				<div class="col-lg-1 d-flex align-items-end justify-content-center">
					{{ form_row(form.unionHoursPerMonth, {'attr': {'data-user-form-target': 'unionHoursPerMonth'}}) }}
					<span class="text-danger">{{ form_errors(form.unionHoursPerMonth) }}</span>
				</div>
				<div class="col-lg-2 d-flex align-items-end justify-content-center">
					{{ form_row(form.worksOnWeekends) }}
					<span class="text-danger">{{ form_errors(form.worksOnWeekends) }}</span>
				</div>
			</div>
         <div class="row">
				<div class="col">
					{{ form_label(form.roles) }}
					{{ form_widget(form.roles, {'attr': {'class': 'ml-1 form-control form-control-sm'}}) }}
				</div>
         </div>
		</div>
	</div>
</div>

<div class="row justify-content-center mt-2 mb-2">
{% if not readonly %}
	<div class="col-lg-auto">
		<button class="btn btn-primary" type="submit">{{ "btn.user.save" | trans }}</button>
	</div>
{% endif %}
	<div class="col-lg-auto">
		<a href="{{ returnUrl is defined and not returnUrl is empty ? returnUrl : path('admin_user_index') }}" class="btn btn-secondary">{{ "btn.user.cancel" | trans }}</a>
	</div>
</div>

<!-- Token CSRF -->
{{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false, 
				   'attr': {'class': '',
			       } 
}) }}